workflows/tool-aws-cost.json
{
  "name": "Tool - AWS Cost",
  "nodes": [
    {
      "parameters": {},
      "id": "8817d866-ecdb-4db5-8c50-870c54a4b2b4",
      "name": "Start",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "command": "=aws ce get-cost-and-usage --time-period Start={{ $today.minus({ months: 1 }).toFormat('yyyy-MM-dd') }},End={{ $today.toFormat('yyyy-MM-dd') }} --granularity MONTHLY --metrics AmortizedCost --group-by Type=DIMENSION,Key=SERVICE --output json"
      },
      "id": "57d2719c-53fb-45ee-9df6-74592851870e",
      "name": "AWS Cost Explorer",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        208,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "const output = JSON.parse($input.all()[0].json.stdout);\nconst costs = output.ResultsByTime[0].Groups;\nconst formatted = costs.map(c => `${c.Keys[0]}: $${parseFloat(c.Metrics.AmortizedCost.Amount).toFixed(2)}`).join('\\n');\n\nreturn {\n  json: {\n    result: `Custos do último mês:\\n${formatted}`\n  }\n};"
      },
      "id": "dc42c771-eee1-4039-bac4-c769c6a7be24",
      "name": "Format Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        400,
        0
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Start": {
      "main": [
        [
          {
            "node": "AWS Cost Explorer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AWS Cost Explorer": {
      "main": [
        [
          {
            "node": "Format Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "2e6a6831-049b-40be-99be-14a69b46f86b",
  "meta": {
    "instanceId": "20875c1e26642b85fcc95d9dc1fdb1cd590b76711b70d93dd763dc1a914e5d50"
  },
  "id": "NUCllvivcfneEDr4",
  "tags": []
}