workflows/whatsapp-ai-agent-native.json
{
    "name": "WhatsApp AI Agent (WAHA Native)",
    "nodes": [
        {
            "parameters": {
                "session": "default",
                "events": [
                    "message"
                ]
            },
            "id": "waha-trigger",
            "name": "WAHA Trigger",
            "type": "@devlikeapro/n8n-nodes-waha.wahaTrigger",
            "typeVersion": 1,
            "position": [
                100,
                300
            ],
            "webhookId": "waha-trigger",
            "credentials": {
                "wahaApi": {
                    "id": "CONFIGURE_WAHA_CREDENTIALS",
                    "name": "WAHA Local"
                }
            }
        },
        {
            "parameters": {
                "text": "={{ $json.payload.body }}",
                "options": {
                    "systemMessage": "Você é um assistente DevOps especializado em AWS. \n\nSua função é ajudar o usuário com dúvidas sobre custos e infraestrutura.\n\nVocê tem acesso a ferramentas para consultar custos da AWS. Use-as sempre que o usuário perguntar sobre valores, gastos ou faturas.\n\nResponda de forma amigável, usando emojis e formatação clara para WhatsApp (*negrito*, _itálico_)."
                },
                "memory": {
                    "sessionKey": "={{ $json.payload.from }}"
                }
            },
            "id": "ai-agent",
            "name": "DevOps AI Agent",
            "type": "@n8n/n8n-nodes-langchain.agent",
            "typeVersion": 1,
            "position": [
                400,
                300
            ]
        },
        {
            "parameters": {
                "modelName": "gemini-1.5-flash",
                "options": {
                    "temperature": 0.3
                }
            },
            "id": "gemini-model",
            "name": "Google Gemini Chat Model",
            "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
            "typeVersion": 1,
            "position": [
                400,
                500
            ],
            "credentials": {
                "googleGeminiOAuth2Api": {
                    "id": "CONFIGURE_GEMINI_CREDENTIALS",
                    "name": "Google Gemini Account"
                }
            }
        },
        {
            "parameters": {
                "contextWindowLength": 10
            },
            "id": "memory",
            "name": "Window Buffer Memory",
            "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
            "typeVersion": 1,
            "position": [
                550,
                500
            ]
        },
        {
            "parameters": {
                "name": "aws_cost_explorer",
                "description": "Consulta os custos da AWS. Use esta ferramenta quando o usuário perguntar sobre gastos, custos ou faturas.",
                "workflowId": "CONFIGURE_AWS_COST_WORKFLOW_ID"
            },
            "id": "tool-aws",
            "name": "AWS Cost Tool",
            "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
            "typeVersion": 1,
            "position": [
                700,
                500
            ]
        },
        {
            "parameters": {
                "operation": "sendText",
                "session": "default",
                "chatId": "={{ $('WAHA Trigger').item.json.payload.from }}",
                "text": "={{ $('DevOps AI Agent').item.json.output }}"
            },
            "id": "send-whatsapp",
            "name": "Send WhatsApp (WAHA)",
            "type": "@devlikeapro/n8n-nodes-waha.waha",
            "typeVersion": 1,
            "position": [
                800,
                300
            ],
            "credentials": {
                "wahaApi": {
                    "id": "CONFIGURE_WAHA_CREDENTIALS",
                    "name": "WAHA Local"
                }
            }
        }
    ],
    "connections": {
        "WAHA Trigger": {
            "main": [
                [
                    {
                        "node": "DevOps AI Agent",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Google Gemini Chat Model": {
            "ai_languageModel": [
                [
                    {
                        "node": "DevOps AI Agent",
                        "type": "ai_languageModel",
                        "index": 0
                    }
                ]
            ]
        },
        "Window Buffer Memory": {
            "ai_memory": [
                [
                    {
                        "node": "DevOps AI Agent",
                        "type": "ai_memory",
                        "index": 0
                    }
                ]
            ]
        },
        "AWS Cost Tool": {
            "ai_tool": [
                [
                    {
                        "node": "DevOps AI Agent",
                        "type": "ai_tool",
                        "index": 0
                    }
                ]
            ]
        },
        "DevOps AI Agent": {
            "main": [
                [
                    {
                        "node": "Send WhatsApp (WAHA)",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "active": false,
    "settings": {},
    "meta": {
        "instanceId": "n8n-waha-integration"
    }
}