workflows/whatsapp-ai-agent-meta-api.json
{
    "name": "WhatsApp AI Agent (Meta API)",
    "nodes": [
        {
            "parameters": {
                "httpMethod": "POST",
                "path": "whatsapp-meta",
                "options": {}
            },
            "id": "webhook",
            "name": "WhatsApp Webhook (Meta)",
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 2,
            "position": [
                100,
                300
            ],
            "webhookId": "whatsapp-meta"
        },
        {
            "parameters": {
                "assignments": {
                    "assignments": [
                        {
                            "id": "chatid",
                            "name": "chatid",
                            "value": "={{ $json.body.entry[0].changes[0].value.messages[0].from }}",
                            "type": "string"
                        },
                        {
                            "id": "message",
                            "name": "message",
                            "value": "={{ $json.body.entry[0].changes[0].value.messages[0].text.body }}",
                            "type": "string"
                        },
                        {
                            "id": "message_id",
                            "name": "message_id",
                            "value": "={{ $json.body.entry[0].changes[0].value.messages[0].id }}",
                            "type": "string"
                        }
                    ]
                }
            },
            "id": "extract-data",
            "name": "Extract Data",
            "type": "n8n-nodes-base.set",
            "typeVersion": 3.4,
            "position": [
                300,
                300
            ]
        },
        {
            "parameters": {
                "promptType": "define",
                "text": "={{ $json.message }}",
                "options": {
                    "systemMessage": "Você é um assistente DevOps especializado em AWS. \\n\\nSua função é ajudar o usuário com dúvidas sobre custos, infraestrutura e monitoramento.\\n\\nVocê tem acesso a ferramentas para:\\n- Consultar custos da AWS (Cost Explorer)\\n- Verificar métricas e alarmes (CloudWatch)\\n- Analisar logs de aplicações (CloudWatch Logs)\\n\\nUse as ferramentas sempre que o usuário perguntar sobre valores, gastos, faturas, métricas, performance ou logs.\\n\\nResponda de forma amigável, usando emojis e formatação clara para WhatsApp (*negrito*, _itálico_)."
                }
            },
            "id": "ai-agent",
            "name": "DevOps AI Agent",
            "type": "@n8n/n8n-nodes-langchain.agent",
            "typeVersion": 3,
            "position": [
                500,
                300
            ]
        },
        {
            "parameters": {
                "authentication": "genericCredentialType",
                "genericAuthType": "httpHeaderAuth",
                "method": "POST",
                "url": "=https://graph.facebook.com/v21.0/{{ $env.WHATSAPP_PHONE_NUMBER_ID }}/messages",
                "sendBody": true,
                "bodyParameters": {
                    "parameters": [
                        {
                            "name": "messaging_product",
                            "value": "whatsapp"
                        },
                        {
                            "name": "to",
                            "value": "={{ $('Extract Data').item.json.chatid }}"
                        },
                        {
                            "name": "type",
                            "value": "text"
                        },
                        {
                            "name": "text",
                            "value": "={{ { \"body\": $('DevOps AI Agent').item.json.output } }}"
                        }
                    ]
                },
                "options": {}
            },
            "id": "send-whatsapp",
            "name": "Send WhatsApp (Meta API)",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                700,
                300
            ],
            "credentials": {
                "httpHeaderAuth": {
                    "id": "CONFIGURE_META_API_TOKEN",
                    "name": "WhatsApp Business API Token"
                }
            }
        }
    ],
    "connections": {
        "WhatsApp Webhook (Meta)": {
            "main": [
                [
                    {
                        "node": "Extract Data",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Extract Data": {
            "main": [
                [
                    {
                        "node": "DevOps AI Agent",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "DevOps AI Agent": {
            "main": [
                [
                    {
                        "node": "Send WhatsApp (Meta API)",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "active": false,
    "settings": {}
}